:root{
    --primary:#4EA68E;
    --primary-hover:#3F8F79;

    /* Background */

    --background:#F8FAFC;
    --surface:#FFFFFF;
    --surface-secondary:#F1F5F9;

    /* Texte */

    --text:#1E293B;
    --text-secondary:#64748B;
    --text-light:#94A3B8;

    /* Bordure */
    --border:#8d939b;

    /* Dropdown */

    --dropdown-bg:rgba(255,255,255,.88);
    --dropdown-border:rgba(226,232,240,.9);
    --dropdown-hover:rgba(78,166,142,.10);

    /* Couleurs communes */
    --white:#FFFFFF;

    /* Ombres */
    --shadow:0 8px 30px rgba(15,23,42,.08);
    --shadow-dropdown:0 15px 45px rgba(15,23,42,.12);

    /* Titres */
    --font-size-hero: 4.8rem;      /* Titre principal (page d'accueil) */
    --font-size-title: 2.8rem;    /* Sous-titre */
    --font-size-subtitle: 2rem;   /* Titre de section */

    /* Corps de texte */
    --font-size-body: 1rem;      /* Paragraphe standard */

     /* Navbar */
     --font-size-navbar-link: 0.92rem;   /* Liens de navigation */

    /* Footer */
    --font-size-footer-title: 0.95rem;   /* Titres footer */
    --font-size-footer-link: 0.92rem;    /* Liens footer */

    /* Boutons */
    --font-size-btn: 1rem;     

   /* Font Weight */
   --font-light:300;
   --font-regular:400;
   --font-semibold:600;
   --font-black:900;
}